export(prop_growth_rate)
export(pgr_frame)
export(rel_abundance)
export(unit_sphere)
export(sizechange)
export(scalar_shapechange_Spencer)
export(cos_theta)
export(shape_change_fostertilman)
export(shape_change_jassbygoldman)
export(shape_change)
export(mc_SP)


